{% extends "base_generic.html" %}
{% block content %}
    {% load urlify %}
    <body>

    <h5 style="color: greenyellow;">笨蛋</h5>
    <div class="col-sm-6">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if "html_safe" in message.tags %} {{ message |safe }} {% else %} {{ message }} {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class='col-sm-6 col-sm-offset-3'>
        {% if instance.img %}
            <img src="{{ instance.img.url }}" alt="" class="img-responsive">
        {% endif %}
        <h1>{{ title| truncatechars:10 }}
            <small>{% if instance.draft %}<span style="color: red">Draft</span>{% endif %}&nbsp;{{ instance.publish }}</small>
            {#            <small>{{ instance.publish }}</small>   / {{ instance.timestamp | timesince }}#}
        </h1>

        {#        {% if user.get_full_name %}#}
        <p>Author : {{ user.get_full_name }}</p>
        {#        {% endif %}#}

        {#        {{ share_string }} {# title 概念 #}
        {{ instance.id }}<br>
        {% url 'posts:detail' id=instance.id %}<br>
        {#    <a href="{{ instance.get_absoulute_url }}"></a>{{ instance.title }}<br>#}

        <p>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                Facebook
            </a>
            {#        <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">#}
            {#            Twitter#}
            {#        </a>#}
            <a href="https://twitter.com/home?status={{ instance.content | truncatechars:20 | urlify }}%20{{ request.build_absolute_uri }}">
                Twitter
            </a>
            <a href='https://plus.google.com/share?url=http://codingforentrepreneurs.com'>Google+</a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source=http://swiftforentrepreneurs.com/">
                Linkedin
            </a>
            <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>
            <a data-pin-do="buttonBookmark"
               href="//www.pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}">
                <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png"/>
            </a>
        </p>
        {{ instance.updated }}<br>
        {{ instance.timestamp }}<br>

        <div class="row">
            <div class="col-sm-12 col-sm-offset-1">
                {{ instance.content|linebreaks|truncatechars:20 }}<br>
{#                {{ instance.content|linebreaks|truncatechars:10|urlify }}<br>#}
{#                {{ share_string | truncatechars:10 }}#}
{#              {{ instance.content | linebreaks | truncatechars:20 }}<br>#}
                <hr>
                <br>
                {# <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">分享</a></div>#}
                <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width=""
                     data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                <div class="fb-comments" data-href="{{ request.build_absolute_uri }}"
                     data-numposts="5" data-width=""></div>
            </div>
        </div>

    </div>


    <a href="{% url 'posts:update' id=instance.id %}">Edit/update Post</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'posts:delete' id=instance.id %}">Del Post</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'posts:list' %}">Post</a>
    </body>

{% endblock %}