{% load static %}
<!-- Main Footer -->
{#<footer id="footer">#}
{#    <p class="copyright text-white-50" style="font-size: 10px;">Copyright&copy;2020#}
{#        <strong style="font-size: 12px">#}
{#            <a href="http://adminlte.io">臺灣總代理-群光電子股份有限公司</a>#}
{#        </strong>BALMUDA INC. ALL RIGHTS RESERVED#}
{#        <div class="float-right d-none d-sm-inline-block" style="font-size: 10px">#}
{#            <b class="text-secondary">Designed by</b><a rel="nofollow" href="#">&nbsp;&nbspGeorgia</a>#}
{#        </div>#}
{#    </p>#}
{#    <p class="copyright">Copyright &copy; BALMUDA INC. ALL RIGHTS RESERVED#}
{#    <br>Designed by <a rel="nofollow" href="#">臺灣代理-群光電子股份有限公司</a>#}
{#</p>#}
{#</footer>#}


<footer class="main-footer">
    <strong>Copyright ©2020<a href="#"></a>臺灣總代理-群光電子股份有限公司</strong>
    BALMUDA INC. ALL RIGHTS RESERVED.
    <div class="float-right d-none d-sm-inline-block">
        <b>Designed by </b> Georgia
    </div>
</footer>