{% load static %}

<!-- jQuery -->
<script src="{% static 'home/vendor/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'home/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/vendor/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- AdminLTE -->
<script src="{% static 'home/vendor/dist/js/adminlte.js' %}"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'home/vendor/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'home/vendor/dist/js/demo.js' %}"></script>
<script src="{% static 'home/vendor/dist/js/pages/dashboard3.js' %}"></script>

{# ------------------------------------order.html 套件 start ---------------------------------#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
<script src="https://cdn3.devexpress.com/jslib/20.1.4/js/dx.all.js"></script>
{# ------------------------------------order.html 套件 end ---------------------------------#}

<!-- Myself Scripts -->
<script src="{% static 'home/style/js/style.js' %}"></script>
<script src="{% static 'home/style/js/cart.js' %}"></script>